<div class="container-fluid about-full">
  <div class="hero-text">
  <div class="white-box">
    <h1>Our Community</h1>
    </div>
  </div>
</div>

<br>

<div class="card-deck">
  <div class="card" style="min-width:200px; max-width:300px;">
  <%= image_tag "GPC-Aus.png", alt: "GPC Australia Icon", class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><a href="https://www.gpcaustralia.com"> GPC Australia </a></h5>
      <p class="card-text">We are the official Australian affiliate of the Global Powerlifting Committee, and will provide a wide range of events around Australia. GPC Australia offers both Raw (knee wraps or sleeves allowed) and Equipped powerlifting, as well as national bench press and deadlift competitions.</p>
    </div>
  </div>
  <div class="card" style="min-width:200px; max-width:300px;">
  <%= image_tag "platform-podcast.jpg", alt: "Platform Podcast", class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to "The Platform Podcast", podcast_path%></h5>
      <p class="card-text">Two of Australia's best Strength Coaches, Brandon Greco and Jonny "Bbad" Nelson delve deep into everything powerlifting and interview some of the best lifters in who they are beyond the platform. </p>
    </div>
  </div>
  <div class="card-deck">
  <div class="card" style="min-width:200px; max-width:300px;">
  <%= image_tag "pltv_ricky.png", alt: "Powerlifting Image", class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><a href="https://powerliftingtv.com.au/upcoming/"> PowerliftingTV - Live Streaming </a></h5>
      <p class="card-text">PowerliftingTV is bringing powerlifting events to everyone's home. Allowing more competitions to be streamed live and more coverage gained by a new generation of powerlifters.</p>
    </div>
  </div>
  <div class="card-deck">
  <div class="card" style="min-width:200px; max-width:300px;">
  <%= image_tag "epic_trainingcamp.jpg", alt: "Training Camp Image", class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><a href="https://www.eventbrite.com.au/e/epic-training-camp-ii-tickets-91278162441"> EPIC Coaching Training Camp </a></h5>
      <p class="card-text">EPIC Presents Training Camp II - Learn how to develop and become a complete athlete. Performance, Nutrition and Mindset.</p>
    </div>
  </div>
</div>
